header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
}
.logo {
  display:flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.topics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  width: 250px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
.main {
  display:flex;
  flex-wrap: wrap;
  padding-top: 120px;
  /*align-items: center;*/
  justify-content: space-around;

}
.large{
  justify-content: space-between;;
  align-items: flex-start;
  flex-wrap:wrap;
  display: inline-flex;
  width: 630px;
}
.medium {
  flex-flow: column;
  display: inline-flex;
  width: 300px;
}
.small {
  flex-flow: column;
  display: inline-flex;
  width: 240px;
}
.top1 {
  display: inline-flex;
  flex-wrap: wrap;
}
.top1 h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 100px;
  height: 200px;
  background-image: url("../images/img-story-main.png");
}
.middle1 {
  width: 300px;
  display: block;
}
.middle1 h3 {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  height: 300px;
  background-image: url("../images/img-story-2.png");
}
.bottom1 {
  display: block;
  width: 300px;
}
.bottom1 h3 {
  height: 300px;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-image: url("../images/img-story-3.png");
}
.top2 {
  font-family: Georgia;
}
.middle2 {
  font-family: Georgia;
}
.middle2 h3{
  font-family: Georgia;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 300px;
  background-image: url("../images/img-story-1.png")
}
.top3 {

}
.top3 h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.middle3 {
  display: block;
}
.bite {
  font-size: 12px;
  font-family: verdana;
  color: DimGray;
  background-color: Whitesmoke;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  display: block;
}
footer {
  flex-direction: column;
  text-align: center;
  font-family: Verdana;
  margin: auto;
  font-size: 12px;
  display:flex;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  align-items: center;
  justify-content: center;
}
.title {
  border-right: 2px solid white;
  display:inline-block;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.FooterLinks {
  display: inline-block;
  padding-left: 30px;
}
.FooterLinks a{
  padding: 20px 10px;

}
.copyright {
display: block;
}
